
body {
    background-color: lightblue;
    color: aliceblue;
    background-image: url("Violin.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    font-size: 100%;
    padding-bottom: 2em;
}

header {
    font-family: 'Boogaloo', cursive;
    font-size: 5em;
    line-height: 20px;
    padding: 3.3em;

}

h1 {
    text-align: center;
    position: relative;
    top: -100px;
    left: -20%;
    color: #003399;
    text-shadow: 0 10px 10px black;
}

nav {
    font-family: 'Anton', sans-serif;
    font-size: 10em;
    line-height: 1em;
    letter-spacing: .5em;
    color: #666699;
    background-color: rgba(144, 238, 255, 0.2);
    border-radius: 4%;
    text-shadow: 0 4px 15px white;
    padding-right: .4em;

}

nav li {
    writing-mode: vertical-rl;
    position: relative;
    left: 80%;
    top: 20%;
    list-style: none;
    border: 2px solid black;
}

article {
    font-size: 2.5em;
    font-family: 'Gamja Flower', cursive;
}

article p {
    position: absolute;
    padding-left: 1.5em;
}

p {
    color: midnightblue;
    text-shadow: 0 1px 15px white;
    
}
footer{
    background: linear-gradient(rgb(80, 36, 0), rgb(107, 57, 0),lightblue, rgb(80, 36, 0), rgb(107, 57, 0));
    padding-bottom: 2%;
    margin-bottom: 0px;
    border-bottom: 0px;
}
section2 p{
    border: 2px solid black;
    padding-bottom: 10em;
}