body {
    background-color: lightblue;
    color: aliceblue;
    background-image: url("Violin.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    font-size: 100%;
    padding-bottom: 2em;
}

header {
    font-family: 'Boogaloo', cursive;
    font-size: 5em;
    line-height: 1em;
}

h1 {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 10%;
}

nav {
    font-family: 'Boogaloo', cursive;
    font-size: 10em;
    line-height: 1em;

}
nav p{
    writing-mode: vertical-rl;
    position: relative;
    left: 70%;
}