
body{
    font-family: 'VT323', monospace;
    background-image: url(Background.png);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}
header{
    font-family: 'Press Start 2P' , cursive;
    text-align: center;
    background-size: contain;
}
h1{
    position: relative;
    bottom: 20px;
}
table, td, tr{
    position: relative;
    right: 25%;
    left: 20%;
}
.right{
    text-align: center;
}
#banner{
    font-size: 1.8em;
    text-shadow: 5px 5px white;
}
.bg {
    padding-top: 20%;
    background-image: url("Banner.jpg");
    height: 15em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    font-size: 4em;
}
p{
    font-size: 2em;
}
nav{
    color: #e6e6e6;
    text-shadow: 3px 3px #1c1c1c;
    text-align: center;
    font-size: 2em;
    padding-left: 35%;
    padding-right: 35%; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    background-image: url(mineCraft.png);
    background-repeat: no-repeat;
    background-size: contain;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
li:hover{
    background-image: url(minecraftPressed.png);
    color: #ffffa1;
    text-shadow: 3px 3px #3d3d27;
}
